:root {
    --principal-color: #FFFFFF; 
    --secondary-color: #C0C0C0;
    --blue-button: #167BF7;
    --background-color: #00030C;

    --principal-font: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--principal-color);
    font-family: var(--principal-font);
    font-size: 16px;
    font-weight: 400;
}

.principal-section {
    align-items: center;
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.section {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.principal-section__box {
    margin: 0 6em;
}

.principal-section__title {
    font-size: 28px;
    font-weight: 700;
}

.principal-section__img {
    margin: 1em 0 2em 0;
}

.principal-section__button {
    background-color: var(--blue-button);
    border-radius: 5px;
    color: var(--principal-color);
    display: block;
    padding: 1em;
    text-decoration: none;
    margin-bottom: 1em;
}

.principal-section__secondary-button {
    background-color: transparent;
    border: 2px solid var(--principal-color);
}

.principal-section__warning {
    color: var(--secondary-color);
    font-size: 12px;
}

.secondary-section {
    align-items: center;
    margin: 0 10em;
}

.secondary-section__img {
    width: 80%;
}

.description__title {
    color: var(--principal-color);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--secondary-color);
}